/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Body and page styling */
body {
    background-color: #FFFAEC;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Title Styling */
h1.homePage {
    color: #578E7E;
    font-size: 3rem;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-in-out;
}

h2 {
    color: #3D3D3D;
    font-size: 1.5rem;
}

/* Logout button styling */
button {
    background-color: #578E7E;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3D3D3D;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    h1.homePage {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }
}
